[submodule "console-hardware/render-module-hardware/microcontroller-uart-pc-data-transfer/stm32-f446re-adc-uart-data-transfer"]
	path = console-hardware/render-module-hardware/microcontroller-uart-pc-data-transfer/stm32-f446re-adc-uart-data-transfer
	url = https://github.com/adct-the-experimenter/stm32-f446re-adc-uart-data-transfer.git
